In [20]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("WATCHLIST.csv")

In [17]:
n_movies = len(df)
print(n_movies)

797

In [9]:
df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt0111161,2012-07-05,2012-07-05,NaN,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/,movie,9.3,142,1994,Drama,2757430,1994-09-10,Frank Darabont,10,2012-07-05
1,2,tt0068646,2012-07-05,2012-07-05,NaN,The Godfather,https://www.imdb.com/title/tt0068646/,movie,9.2,175,1972,"Crime, Drama",1918696,1972-03-14,Francis Ford Coppola,7,2012-09-15
2,3,tt0468569,2012-07-05,2012-07-05,NaN,The Dark Knight,https://www.imdb.com/title/tt0468569/,movie,9.0,152,2008,"Action, Crime, Drama, Thriller",2730404,2008-07-14,Christopher Nolan,8,2012-07-19
3,4,tt0137523,2012-07-05,2012-07-05,NaN,Fight Club,https://www.imdb.com/title/tt0137523/,movie,8.8,139,1999,Drama,2195523,1999-09-10,David Fincher,9,2012-07-05
4,5,tt1375666,2012-07-05,2012-07-05,NaN,Inception,https://www.imdb.com/title/tt1375666/,movie,8.8,148,2010,"Action, Adventure, Sci-Fi, Thriller",2423019,2010-07-08,Christopher Nolan,9,2012-07-05

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        797 non-null    int64
 1   Const           797 non-null    object
 2   Created         797 non-null    object
 3   Modified        797 non-null    object
 4   Description     0 non-null      float64
 5   Title           797 non-null    object
 6   URL             797 non-null    object
 7   Title Type      797 non-null    object
 8   IMDb Rating     797 non-null    float64
 9   Runtime (mins)  797 non-null    int64
 10  Year            797 non-null    int64
 11  Genres          796 non-null    object
 12  Num Votes       797 non-null    int64
 13  Release Date    797 non-null    object
 14  Directors       790 non-null    object
 15  Your Rating     797 non-null    int64
 16  Date Rated      797 non-null    object
dtypes: float64(2), int64(5), object(10)
memory usage: 106.0+ KB

In [6]:
df.describe()

,Position,Description,IMDb Rating,Runtime (mins),Year,Num Votes,Your Rating
count,797.000000,0.0,797.000000,797.000000,797.000000,7.970000e+02,797.000000
mean,397.168130,NaN,7.489084,116.273526,2005.319950,3.334219e+05,7.631117
std,229.955828,NaN,0.757139,31.854655,15.700215,4.016824e+05,1.310735
min,1.000000,NaN,1.700000,12.000000,1933.000000,1.500000e+01,1.000000
25%,198.000000,NaN,7.100000,99.000000,2002.000000,6.256400e+04,7.000000
50%,397.000000,NaN,7.600000,113.000000,2010.000000,1.836000e+05,8.000000
75%,596.000000,NaN,8.000000,129.000000,2015.000000,4.669980e+05,8.000000
max,795.000000,NaN,9.300000,557.000000,2023.000000,2.757430e+06,10.000000

In [10]:
len(df.Directors.unique())

540

In [12]:
len(df.Year.unique())

76

In [14]:
sum(df["Runtime (mins)"]) / 60

1544.5

In [15]:
sum(df["Runtime (mins)"]) / n_movies

116.27352572145546

In [21]:
np.mean(df["IMDb Rating"])

7.489084065244667

In [23]:
np.std(df["IMDb Rating"])

0.7566642698544144

In [25]:
np.mean(df["Your Rating"])

7.631116687578419

In [26]:
np.std(df["Your Rating"])

1.3099121706398977

In [30]:
df.Directors.value_counts()[:20]

Christopher Nolan        9
Steven Spielberg         9
David Fincher            8
Makoto Shinkai           7
Richard Linklater        6
Alejandro G. Iñárritu    6
Ethan Coen, Joel Coen    6
Martin Scorsese          6
Quentin Tarantino        6
Paul Thomas Anderson     5
Rob Marshall             5
Denis Villeneuve         5
Danny Boyle              5
Darren Aronofsky         5
Alfred Hitchcock         5
Stanley Kubrick          5
Wes Anderson             5
James Cameron            4
Martin McDonagh          4
Yorgos Lanthimos         4
Name: Directors, dtype: int64

In [53]:
director_scores = pd.DataFrame(df.groupby('Directors').agg({'Directors':'size', 'Your Rating':'mean'}).rename(columns={'Directors':'Number of movies watched','Your Rating':'Your Average Rating'})).sort_values(['Your Average Rating'], ascending=False)
director_scores.head(20)

,Number of movies watched,Your Average Rating
Directors,,
"Christopher Miller, Phil Lord",1,10.0
"Mervyn LeRoy, Norman Taurog, George Cukor, King Vidor, Richard Thorpe, Victor Fleming",1,10.0
"Lilly Wachowski, Lana Wachowski",1,10.0
Yasujirô Ozu,1,10.0
John Patrick Shanley,1,10.0
"Lisanne Pajot, James Swirsky",1,10.0
"Olivier Nakache, Éric Toledano",1,10.0
Charlie Kaufman,2,9.5
Sidney Lumet,2,9.0
Mohsen Makhmalbaf,1,9.0
Shane Carruth,2,9.0
Bo Burnham,2,9.0
Miranda July,1,9.0
Michaël R. Roskam,1,9.0
Sophie Fiennes,1,9.0
Michel Gondry,1,9.0
"Stevan Djordjevic, Nebojsa Andric, Aleksa Gajic",1,9.0
Michael Sucsy,1,9.0
Frank Capra,1,9.0
Gabriele Muccino,1,9.0

In [41]:
pd.DataFrame(df.groupby(['Directors']).size())

                         0
Directors
Aamir Khan, Amole Gupte  1
Abbas Kiarostami         1
Abdullah Mohammed Saad   1
Adam Elliot              1
Adam McKay               1
...                     ..
Zach Braff               1
Zack Snyder              1
Zaza Urushadze           1
Álex de la Iglesia       1
Çagan Irmak              1

[539 rows x 1 columns]

https://www.analyticsvidhya.com/blog/2022/03/exploratory-data-analysis-with-an-example/